minimum_pre_commit_version: 3.2.0
default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]
repos:

- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: end-of-file-fixer
    stages: [pre-commit, manual]
  - id: fix-byte-order-marker
  - id: fix-encoding-pragma
    args: [--remove]
  - id: mixed-line-ending
    args: [--fix=lf]
    stages: [pre-commit, manual]
  - id: trailing-whitespace
    exclude_types: [markdown, plain-text]
    stages: [pre-commit, manual]

- repo: https://github.com/jorisroovers/gitlint
  rev: v0.19.1
  hooks:
  - id: gitlint

- repo: https://code.kodo.org.uk/dom/pre-commit-hooks
  rev: v0.6.3
  hooks:
  - id: check-executable-modes
  - id: check-for-squash
  - id: copyright-notice
    args: [--min-size=1]
    stages: [pre-commit, manual]
  - id: protect-first-parent

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: python-no-eval
  - id: python-no-log-warn
  - id: python-use-type-annotations

- repo: https://github.com/hakancelikdev/unimport
  rev: 1.2.1
  hooks:
  - id: unimport
    args: [--remove]
    stages: [pre-commit, manual]

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    types: [python]
    stages: [pre-commit, manual]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.5
  hooks:
  - id: ruff
    args: ["--fix"]
  - id: ruff-format
    stages: [manual]

- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.399
  hooks:
  - id: pyright
    additional_dependencies: &deps
    - anyio
    - kodo.quantities
    - types-konnect.curl ~=0.2.0
    - types-pycurl
  - id: pyright
    additional_dependencies: *deps
    stages: ["pre-push", "manual"]
    pass_filenames: false
